.withdrawRecord_view
  .withdraw_select
    background #F2F2F2
    padding 0 12px
    display flex
    position relative
    z-index 1001
    .select
      flex 0 0 50%
      line-height 49px
      text-align center
      color #666
      .select_ouline_status
        width 100%
        .open
          transform rotate(180deg)
        p
          font-size 14px
          display inline-block
        i
          width 10px
          height 10px
          display inline-block
          fill #999
          transition all 0.3s ease
        &:nth-last-child(1)
          position relative
          &::before
            content ''
            width 1px
            height 20px
            position absolute
            left 0
            top 16px
            background #ccc
            border-left 1px solid #fff
    .status_list
      min-height 100px
      background #fff
      position absolute
      left 0
      width 100%
      text-indent 20px
      top 49px
      z-index 9
      li
        text-align left
        border-bottom 1px solid #f8f8f8
        &.active
          position relative
          &::before
            content ''
            position absolute
            width 0.25rem
            height 0.25rem
            right 25px
            top 50%
            margin-top -5px
            border-radius 500px
  .withdraw_content
    width 100%
    .top_title
      width 100%
      position relative
      height 35px
      line-height 35px
      text-align center
      .icon_spinner
        position absolute
        height 35px
        width 35px
        left 90px
.mask_cz
  position fixed
  top 50px
  height 100%
  background rgba(0, 0, 0, 0.6)
  width 100%
  z-index 1000
.fade-enter-active, .fade-leave-active
  transition all 0.2s ease-out
.fade-enter, .fade-leave-to
  opacity 0
.move-enter-active, .move-leave-active
  transition all 0.2s ease-out
.move-enter
  transform translateY(30px)
  opacity 0
.move-leave-active
  transform translateY(30px)
  opacity 0
.withdraw_content
  height 520px
  margin-top 10px
  .main-body
    overflow scroll
    position relative
    .entrust_list
      width 330px
      min-height 160px
      margin 5px auto 13px
      position relative
      box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 -2px 4px 0 rgba(0, 0, 0, 0.07)
      padding 0px 9px
      clear both
      .entrust_title
        height 40px
        overflow hidden
        border-bottom 1px solid #eee
        h1
          font-size 14px
          color #4a4a4a
          line-height 40px
          float left
          font-weight normal
        p
          font-size 12px
          color #4a4a4a
          line-height 35px
          float left
        .for_right
          width 122px
          height 22px
          display block
          float right
          color #ffffff
          line-height 22px
          text-align center
          font-size 14px
          position relative
          margin-top 6px
          border-radius 20px
          &.success
            background-position 100% 0px
          &.fall
            background-position 100% -23px
    .foot_text
      width 100%
      text-align center
      font-size 14px
      margin-top 5px
      height 35px
      line-height 35px
      margin-bottom 15px
    .container_list
      margin-top 10px
      ul
        display flex
        li
          span
            display block
            line-height 25px
            font-size 12px
          &.container_left
            width 100%
            margin-bottom 5px
            color #9b9b9b
            span
              display inline-block
              font-family PingFang-SC-Medium
              font-size 0.32rem
              display block
  .top_title
    height 35px
    position relative
    text-align center
    line-height 35px
    .icon_spinner
      position absolute
      height 35px
      width 35px
      left 90px
.bankNumber
  font-size 14px
.noData_icon
  padding-top 60px
  i
    width 150px
    height 150px
    margin 0px auto 0
    display block
    svg
      fill #ddd
  p
    text-align center
    font-size 20px
    color #ddd
    font-weight 600
