.userCenter
  .partTop
    width 100%
    background-size 100%
    position relative
    // height 165px
    width 100%
    background rgb(214, 223, 255, 0.28)
    .Img1
      height 70px
      padding 20px 0 0 100px
      .Img1_time
        width 60px
        height 60px
        margin-top 14px
        text-align center
        vertical-align middle
      .Img1_Info
        padding 5px 0 10px 10px
        .info_p1
          text-overflow ellipsis
          white-space nowrap
          display inline-block
          width 2.5rem
          font-size 0.28rem
          position relative
          /* overflow: hidden; */
          .info_span1
            font-size 18px
          .info_span2
            padding 0.08rem 0.3rem
            text-align center
            font-weight normal
            font-size 12px
            background #F5A623
            border-radius 0.36rem
            margin-left 0.2rem
            margin-top -5px
            color #fff
            position absolute
            box-sizing border-box
            height 18px
            line-height 13px
            top 7px
        .info_p2
          margin-top 3px
          i
            width 64px
            height 28px
            display inline-block
            svg
              width 100%
              height 100%
              font-size 18px
          span
            color #666
            font-size 12px
            border solid 1px #666
            border-radius 3px
            padding 1px 4px
        .info_p3
          font-size 12px
          line-height 20px
          i
            width 18px
            height 18px
            float left
            margin-right 5px
            fill #333
      div
        float left
    .Img2
      height 50px
      width 100%
      display flex
      .cz
        .icons.chongzhi
          width 30px
          height 30px
          float left
      .tx
        .icons.tixian, .icons.money_bag
          width 30px
          height 30px
          float left
        .main-tap-cmline
          display block
          position absolute
          left 0
          bottom 0.2rem
          top 0.25rem
          width 0.1px
          height 55%
          border 0.5px solid rgba(255, 255, 255, 0.3)
          z-index 10
      a
        float left
        position relative
        flex 0 0 33.333%
        width 33.333%
        height 50px
        text-align center
        line-height 50px
        p
          margin 10px auto 0
          width 90px
          height 0.54rem
          line-height 30px
          color #4A4A4A
  .partSec1
    width 100%
    margin-bottom 1.32rem
    .nav-list-title
      color #5f5f5f
      font-size 0.34rem
      font-weight bold
      line-height 0.66rem
      padding 0 0.66rem
      padding-top 10px
    .icon_wrap
      width 100%
      .main-nav-style
        width 25%
        display inline-block
        font-size 0.26rem
        padding 0.5rem 0
        text-align center
        color #a6a6a6
        position relative
        &:active
          background #eee
        .sec1_title
          font-family PingFang-SC-Medium
          font-size 12px
          margin-top 5px
          color #4A4A4A
.Img3
  padding 0
  width 100%
  height 110px
  box-sizing border-box
  border-top 1px dashed rgba(240, 240, 255, 0.8)
  border-bottom 1px dashed rgba(240, 240, 255, 0.8)
  display flex
  .Img1_time
    width 78px
    height 60px
    text-align center
    vertical-align middle
  .Img1_Info
    width 49%
    flex 0 0 49%
    padding 5px 0 5px 0px
    text-align center
    .info_p1
      text-overflow ellipsis
      white-space nowrap
      display inline-block
      max-width 2.5rem
      font-size 0.28rem
      margin-bottom 5px
      .info_span1
        font-size 14px
      .info_span2
        padding 0.06rem 0.3rem
        text-align center
        font-weight normal
        font-size 12px
        background #F5A623
        border-radius 0.36rem
        line-height 0.24rem
        margin-left 0.2rem
        color #fff
        padding-bottom 0
    .info_p2
      margin-top 3px
      font-size 13px
  .ss1.Img1_Info
    box-sizing border-box
    padding-top 30px
    & .info_span1
      font-weight bold
      font-size 20px
      line-height 36px
      color #666
  .ss2.Img1_Info
    height 100px
    position relative
    border-left 1px dashed rgba(240, 240, 255, 0.8)
    & .info_p2
      font-size 12px
  div
    float left
.clear_line
  width 100%
  border-bottom 1px dashed rgba(240, 240, 255, 0.8)
  height 1px
  display block
  margin 6px 0
.sec1_icon
  width 30px
  height 30px
  display inline-block
  // svg
  // fill #6989ff
