.realName_view
  background-color #f7f7f7
  padding-bottom 1.2rem
  -webkit-box-sizing border-box
  box-sizing border-box
  .realName_partTop
    width 100%
    padding-left 10px
    padding-right 10px
    margin-top 5px
    box-sizing border-box
    .real_title
      width 100%
      height 35px
      line-height 35px
      p
        font-family PingFang-SC-Medium
        font-size 11px
        color #C1BFC2
        line-height 35px
        .iconb
          display inline-block
          background-color #6B89FE
          width 16px
          box-sizing border-box
          height 16px
          line-height 16px
          color #FFF
          border-radius 50%
          text-align center
    .mint-cell:last-child
      background-image none
      .mint-cell-wrapper
        border-top 0.5px solid #e6e6e6
    .mint-cell-wrapper
      background-image none
      & .mint-cell-text
        font-family PingFang-SC-Bold
        font-size 14px
        color #9B9B9B
      & input::-webkit-input-placeholder
        //color #aab2bd
        font-size 13px
        text-align left
  .part2
    margin-top 65px
    position relative
    padding-left 10px
    padding-right 10px
    .real_ss
      width 100%
      height 100%
      line-height 45px
      display block
      border-radius 25px
      font-size 15px
      background-color #6B89FE
      text-align center
      color #fff
      outline 0
      border none
      touch-action: none
      position: relative
      overflow: hidden
    .real_ss:after
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      pointer-events: none
      background-image: radial-gradient(circle, #767676 10%, transparent 10.01%)
      background-repeat: no-repeat
      background-position: 50%
      transform: scale(10, 10)
      opacity: 0
      transition: transform .3s, opacity .5s;
      height 45px
      line-height 45px
      padding-right 15px
    .real_ss:active:after
      transform: scale(0, 0)
      opacity: .3
      transition: 0s
    .tips
      width 100%
      margin-top 15px
      padding-left 10px
      font-family PingFang-SC-Medium
      font-size 12px
      color #C1BFC2
  .hasRealName
    width 100%
    padding-left 10px
    padding-right 10px
    margin-top 45px
    box-sizing border-box
    .icon_realname
      display block
    .realname_txt
      height 35px
      margin-top 20px
      text-align center
      font-weight bold
      font-size 18px
    .back_btn
      margin-top 65px
      position relative
      padding-left 10px
      padding-right 10px
      p
        width 100%
        height 45px
        line-height 45px
        font-size 0.4rem
        background-color #6B89FE
        text-align center
        border-radius 25px
        color #fff
