.bindWithraw_view
  background-color #f7f7f7
  padding-bottom 1.2rem
  -webkit-box-sizing border-box
  box-sizing border-box
  .realName_partTop
    width 100%
    padding-left 10px
    padding-right 10px
    margin-top 10px
    box-sizing border-box
    .real_title
      width 100%
      height 35px
      line-height 35px
      padding-left 5px
      p
        font-family PingFang-SC-Medium
        font-size 16px
        color #9B9B9B
        line-height 35px


  .part_m
    position relative
    .realContent
      width 100%
      margin-top 5px
      height 225px
      padding-left 15px
      padding-right 15px
      box-sizing border-box
      background-color #FFF
      .realInput
        width 100%
        height 55px
        line-height 55px
        span
          font-family PingFang-SC-Bold
          font-size 14px
          color #000000
          display inline-block
          height 55px
          line-height 55px
          width 105px
          text-align left
        input
          display inline-block
          height 55px
          width 225px
          line-height 55px
          outline 0
      .rp1
        border-bottom 0.5px solid #e0e0e0
        height 56px
        line-height 56px
  .part2
    margin-top 65px
    position relative
    padding-left 10px
    padding-right 10px
    .real_ss
      width 100%
      height 100%
      line-height 45px
      display block
      border-radius 25px
      font-size 15px
      background-color #6B89FE
      text-align center
      color #fff
      outline 0
      border none
      touch-action: none
      position: relative
      overflow: hidden
    .real_ss:after
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      pointer-events: none
      background-image: radial-gradient(circle, #767676 10%, transparent 10.01%)
      background-repeat: no-repeat
      background-position: 50%
      transform: scale(10, 10)
      opacity: 0
      transition: transform .3s, opacity .5s;
      height 45px
      line-height 45px
      padding-right 15px
    .real_ss:active:after
      transform: scale(0, 0)
      opacity: .3
      transition: 0s
    .tips
      width 100%
      margin-top 15px
      padding-left 10px
      font-family PingFang-SC-Medium
      font-size 12px
      color #C1BFC2
      .p3_wrap
        box-sizing border-box
        padding-left 12px
        padding-right 12px
        .p3_title
          width 100%
          font-family PingFang-SC-Medium
          font-size 14px
          color #9B9B9B
          line-height 30px
          height 30px
          .p3_content
            width 100%
  li
    width 100%
    padding-left 20px
    margin-top 5px
    font-family: PingFang-SC-Medium
    font-size: 14px
    color: #9B9B9B
    position relative
    line-heigth 25px
    box-sizing border-box
    .round
      width 25px
      height 25px
      position absolute
      font-size 45px
      line-heigth 25px
      text-align center
      color #9B9B9B
      top -35px
      left -2px
      text-decoration none
    .sp2
      line-height 20px
    .sp3
      font-family PingFang-SC-Medium
      font-size 14px
      color #000200
      line-height 20px
      color #D0031B
    .p3_wrap
      box-sizing border-box
      padding-left 12px
      padding-right 12px
      .p3_title
        width 100%
        font-family PingFang-SC-Medium
        font-size 14px
        color #9B9B9B
        line-height 30px
        height 30px
      .p3_content
        width 100%
        li
         width 100%
         padding-left 20px
         margin-top 5px
         font-family: PingFang-SC-Medium
         font-size: 14px
         color: #9B9B9B
         position relative
         line-heigth 25px
         box-sizing border-box
        .round
          width 25px
          height 25px
          position absolute
          font-size 45px
          line-heigth 25px
          text-align center
          color #9B9B9B
          top -35px
          left -2px
          text-decoration none
        .sp2
          line-height 20px
        .sp3
          font-family PingFang-SC-Medium
          font-size 14px
          color #000200
          line-height 20px
          color #D0031B
