.entrust_detail
  margin-top 13px
  .main-body
    overflow scroll
    width 343px
    margin 0 auto
    .entrust_list
      width 320px
      margin 5px auto 10px
      position relative
      box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 -2px 4px 0 rgba(0, 0, 0, 0.07)
      padding 0px 9px 3px
      .right_triangle
        width 0px
        height 0px
        border-right 0px solid transparent
        border-left 34px solid transparent
        position absolute
        right 0
        top 0
        p
          position absolute
          top -32px
          right 3px
          color #fff
          font-size 12px
      .entrust_title
        height 35px
        overflow hidden
        border-bottom 0.1px solid #eee
        h1
          font-size 14px
          color #4a4a4a
          line-height 35px
          float left
          font-weight normal
        i
          font-style normal
          font-weight normal
          color #fff
          display inline-block
          border-radius 50%
          background #EA3826
          font-size 12px
          text-align center
          float left
          margin 6px 7px
        p
          font-size 12px
          color #4a4a4a
          line-height 35px
          float left
          .multiply
            font-size 14px
            font-weight bold
        .for_right
          width 122px
          height 22px
          display block
          float right
          line-height 22px
          position relative
          margin-top 6px
          border-radius 20px
          span
            color #F5A623
            text-align center
            font-size 14px
    .container_list
      ul
        display flex
        li
          span
            display block
            line-height 25px
            font-size 12px
            color #9b9b9b
          &.container_left
            flex 60%
            width 60%
          &.container_center
            flex 4%
            width 4%
          &.container_right
            flex 36%
            width 36%
          &:nth-last-child(1)
            margin-bottom 8px
.cancel
  width 100%
  margin-bottom 10px
  input[name='cancel']
    width 64px
    height 20px
    color rgb(223, 158, 31)
    border solid 1px rgb(223, 158, 31)
    font-size 12px
    background none
    border-radius 3px
    display block
    margin 0 auto
