.user_body
  height 100%
    &.register_title
      font-size 20px
      color #4a4a4a
      padding 36px 0px 60px 37px
  .forget_view
    margin 35px auto 0
    width 330px
    .user_header
      text-align center
      margin-bottom 25px
      .user_h_img
        display inline-block
        height 95px
        margin-top 0
      .register_title
        font-size 20px
        color #4a4a4a
        padding 10px
    .username, .password, .code, .phoneCode, .submit_comfirm
      margin-bottom 10px
      position relative
      .code_img
        width 88px
        height 34px
        position absolute
        right 10px
        top 8px
        img
          width 100%
          height 100%
      .phoneCode_btn
        width 88px
        height 32px
        position absolute
        top 9px
        right 10px
        line-height 32px
        input[name='getPhoneCode']
          width 100%
          height 100%
          display block
          border-radius 5px
          font-size 12px
          text-align center
          color #fff
          border none
        input[disabled='disabled']
          background #d8d8d8
      .icons
        width 18px
        height 18px
        display block
        position absolute
        top 50%
        margin-top -10px
        &.icon_User, &.icon_Pwd, &.icon_Code, &.icon_phoneCode
          left 18px
        &.icon_phoneCode
          height 22px
        &.icon_eye
          width 18px
          height 18px
          left 50%
          margin-left -15px
      label
        display block
        font-size 16px
      input
        height 44px
        border none
        outline none
        font-size 14px
        border-bottom 1px solid #eee
      input[name='user'], input[name='pwd']
        padding 0 50px 0 45px
        width 235px
      input[name='code'], input[name='phoneCode']
        padding 0 100px 0px 45px
        width 185px
      input[name='comfirm']
        width 100%
        height 55px
        color #fff
        border none
        border-radius 50px
        font-size 15px
        margin-top 66px
      a
        text-align right
        margin 14px 0px 33px 0
        display inline-block
        color #777
    .opt
      padding 10px 20px 45px
      span
        float left
      .checkbox_box
        float left
        margin-right 10px
      b
        color #4b91e2
    .eyeIcon
      width 50px
      height 50px
      position absolute
      right 0
      top 50%
      margin-top -25px
  .modal-backdrop
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(0, 0, 0, 0.3)
    display flex
    justify-content center
    align-items center
    .modal
      background-color #fff
      box-shadow 2px 2px 20px 1px
      overflow hidden
      display flex
      flex-direction column
      width 275px
      height 145px
      border-radius 5px
      .modal-header
        padding 5px
        display flex
      .modal-header
        justify-content space-between
        .modal-close
          height 20px
          line-height 20px
          text-align center
          width 100%
          // font-weight bold
          font-size 15px
      .modal-footer
        justify-content flex-end
        padding-left 10px
        padding-right 10px
        input[name='getPhoneCode']
          width 100%
          height 100%
          display block
          border-radius 5px
          font-size 12px
          text-align center
          color #fff
          border none
        .phoneCode_btn
          float left
          width 105px
          height 32px
          margin-left 10px
          margin-right 10px
          input
            outline 0
      .modal-body
        position relative
        padding 0px 10px 5px
        .code
          margin-bottom 5px
          position relative
          width 100%
          .icon_Code
            width 25px
            height 20px
            position absolute
            left 6px
            top 20px
          .code_img
            width 105px
            height 34px
            position absolute
            right 10px
            top 5px
            img
              width 100%
              height 100%
          input[name='code']
            padding 0 10px 0px 40px
            width 235px
            height 44px
            width 100%
            box-sizing border-box
            outline 0
            border-radius 5px
            border 1px solid #6989ff
        .refresh_btn
          text-align right
          color #6b6b6b
          font-size 13px
          box-sizing content-box
          margin-left 100px
  .modal-fade-enter, .modal-fade-leave-active
    opacity 0
  .modal-fade-enter-active, .modal-fade-leave-active
    transition opacity 0.5s ease
