.addCard_views
  padding-bottom 1.2rem
  -webkit-box-sizing border-box
  box-sizing border-box
  .part1
    width 100%
    padding-left 10px
    padding-right 10px
    margin-top 5px
    box-sizing border-box
    .real_title
      width 100%
      height 35px
      line-height 35px
      padding-left 10px
      p
        font-family PingFang-SC-Medium
        font-size 11px
        color #C1BFC2
        line-height 35px
        .iconb
          display inline-block
          width 16px
          box-sizing border-box
          height 16px
          line-height 16px
          color #FFF
          border-radius 50%
          text-align center
    .realContent
      width 100%
      margin-top 5px
      height 335px
      padding-left 15px
      padding-right 15px
      box-sizing border-box
      background-color #FFF
      .realInput
        width 100%
        height 56px
        line-height 55px
        border-bottom 0.5px solid #e0e0e0
        span
          font-family PingFang-SC-Bold
          font-size 14px
          color #9B9B9B
          float left
          height 55px
          line-height 55px
          width 60px
          text-align center
        input
          float left
          height 50px
          width 250px
          font-size 14px
          padding 10px 5px
          margin-top 3px
          // line-height 55px
          outline 0
          box-sizing border-box
        & input::-webkit-input-placeholder
          color #aab2bd
          font-size 13px
          text-align left
        & input:disabled
          background 0
      .rp1
        height 56px
        line-height 56px
  .part2
    margin-top 105px
    position relative
    padding-left 10px
    padding-right 10px
    .real_ss
      width 100%
      height 100%
      line-height 45px
      display block
      border-radius 25px
      font-size 15px
      text-align center
      color #fff
      outline 0
      border none
      touch-action none
      position relative
      overflow hidden
    .real_ss:after
      content ''
      display block
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      border-radius 25px
      pointer-events none
      background-image radial-gradient(circle, #767676 10%, transparent 10.01%)
      background-repeat no-repeat
      background-position 50%
      transform scale(10, 10)
      opacity 0
      transition transform 0.3s, opacity 0.5s
      height 45px
      line-height 45px
      padding-right 15px
    .real_ss:active:after
      transform scale(0, 0)
      opacity 0.3
      border-radius 25px
      transition 0s
.pop_consBank
  width 100%
  height 265px
  .pop_con_b
    width 100%
    .pop_b_header
      height 65px
      text-align center
      line-height 65px
      box-sizing border-box
      display flex
      width 100%
      .pop_p1
        height 65px
        line-height 65px
        box-sizing border-box
        font-family PingFang-SC-Medium
        font-size 16px
        padding-top 5px
        color #4A4A4A
        width 20%
        flex 0 0 20%
        .icon_left
          display inline-block
          height 22px
          width 22px
          color #4A4A4A
      .pop_p2
        font-family PingFang-SC-Medium
        font-size 14px
        height 65px
        line-height 65px
        text-align center
        font-family PingFang-SC-Bold
        font-size 18px
        color #4A4A4A
        width 60%
        flex 0 0 60%
        display block
      .pop_p3
        font-family PingFang-SC-Medium
        font-size 16px
        color #4A4A4A
        width 20%
        flex 0 0 20%
