.agreement_view
  width 100%
  padding-bottom 1.2rem
  -webkit-box-sizing border-box
  box-sizing border-box
  padding-left 20px
  padding-right 20px
  padding-top 20px
  .part1
    width 100%
    .pt_header
      width 100%
      text-align center
      p
        font-family PingFang-SC-Bold
        font-size 18px
        color #4A4A4A
        margin-bottom 10px
    .pt_content
      width 100%
      position relative
      .p1
        margin-bottom 5px
      .p2
        margin-bottom 5px
      .p3
        margin-bottom 2px
        margin-top 10px
      .p4
        margin-bottom 3px
        margin-top 2px
      & .classp
        text-align left
        padding-left 35px
        font-size 13px
        margin-top 2px
        margin-bottom 2px
        font-weight bold
