.linkDetails_view
  width 100%
  position relative
  .links_d1
    height 55px
    line-height 55px
    text-align center
    margin-top 10px
    p
      font-size 16px
  .links_d2
    width 100%
    box-sizing border-box
    .links_d2_header
      color #a6a6a6
      background #eeedf5
      height 45px
      line-height 45px
      box-sizing border-box
      width 100%
      span.links_d2_p1
        display inline-block
        padding-left 15px
        width 49%
        font-size 16px
        box-sizing border-box
      span.links_d2_p2
        display inline-block
        padding-right 15px
        width 49%
        font-size 16px
        box-sizing border-box
    .list_content
      width 100%
      height 560px
      overflow scroll
    .links_d2_content
      height 45px
      line-height 45px
      span.links_d2_p3
        display inline-block
        padding-left 15px
        width 49%
        font-size 15px
        box-sizing border-box
      span.links_d2_p4
        display inline-block
        padding-right 15px
        width 49%
        box-sizing border-box
