.bindCard_view
  .part1
    width 100%
    position relative
    margin-top 65px
    box-sizing border-box
    .block
      width 100%
      height 45px
    .add_bank
      position relative
      height 65px
      text-align center
      .add_p1
        width 100%
        height 20px
        .add_p
          margin: 0 auto
          width: 50px
          height: 50px
          line-height 45px
          background: #6B89FE
          border: .06rem solid #fff
          border-radius: 50%
          position: absolute
          //left: 50%
          //top -20%
          color #fff
          font-size 40px
          font-weight bold
          -webkit-transform: translate(-50%,-50%)
          -ms-transform: translate(-50%,-50%)
          transform: translate(-50%,-50%)
          text-align: center;
          -webkit-box-shadow: -0.01rem 0 0.15rem #cccccd, 0.01rem 0 0.15rem #cccccd, 0 -0.01rem 0.15rem #cccccd, 0 0.01rem 0.15rem #fff;
          box-shadow: -0.01rem 0 0.15rem #cccccd, 0.01rem 0 0.15rem #cccccd, 0 -0.01rem 0.15rem #cccccd, 0 0.01rem 0.15rem #fff;
      .add_p2
        width 100%
        margin-top 25px
        height 35px
        text-align center
        line-height 35px
        font-size: 17px;
        color: #3f3f3f;
    .tips
      text-align center
      width 100%
      margin-bottom 25px
      margin-top 25px
      .tips_p
        text-align center
        font-size 14px
        color #ff432a
  .part2
    width 100%
    //height 139px
    margin-top 35px
    position relative
    .p3_wrap
      box-sizing border-box
      padding-left 12px
      padding-right 12px
      .p3_title
        width 100%
        font-family: PingFang-SC-Medium
        font-size: 14px
        color: #9B9B9B
        line-height 30px
        height 30px
      .p3_content
        width 100%
        li
          width 100%
          padding-left 20px
          margin-top 10px
          margin-bottom 8px
          font-family: PingFang-SC-Medium
          font-size: 14px
          color: #9B9B9B
          position relative
          line-heigth 25px
          box-sizing border-box
          .round
            width 25px
            height 25px
            position absolute
            font-size 45px
            line-heigth 25px
            text-align center
            color #9B9B9B
            top -35px
            left -2px
            text-decoration none
          .sp2
            line-height 20px
          .sp3
            font-family PingFang-SC-Medium
            font-size 14px
            color #000200
            line-height 20px
            color #D0031B
