*
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
input,textarea
  -webkit-user-select auto
  margin 0px
  padding 0px
  outline none
html, body, #app
  height 100%
  width 100%
  border 0
  font-size 14px
  margin 0
  padding 0
  position absolute
  left 0
  top 0
  overflow-x hidden
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
body
  font-family 'Microsoft YaHei'
  box-sizing border-box
  -webkit-overflow-scrolling touch
  touch-action none
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

div, p, ul, li, ol, dl, dt, dd, span, img, input, table, h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  border 0
  list-style none
  list-style-type none
i, em
  font-style normal
a
  text-decoration none
  touch-action none
a:visited
  text-decoration none
button, input
  appearance none
  border-radius 0px
  touch-action none
.page-fade-enter, .page-fade-leave-active
  opacity 0
.page-fade-enter-active, .page-fade-leave-active
  transition opacity 0.2s
.slide-fade-enter-active
  transition all 0.4s ease
.slide-fade-leave-active
  transition all 0.4s ease
.slide-fade-enter, .slide-fade-leave-to
  transform translateY(5%)
  opacity 0
// ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
// color:    #fff;
// }
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
// color:    #fff;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
// color:    #fff;
// }
// :-ms-input-placeholder { /* Internet Explorer 10-11 */
// color:    #fff;
// }
.mint-content
  position absolute
  top 50px
  left 0
  right 0
  bottom 0
  overflow-y scroll
  overflow-x hidden
  -webkit-overflow-scrolling touch
.mint-toast-icon
  display block
  text-align center
  font-size 1.493333rem
.pages-view
  overflow-x hidden
  overflow-y scroll
  height 100%
  width 100%
.user_body.marketCenter
  overflow-x hidden
  overflow-y scroll
.user_body
  height 100%
  width 100%
  p.header_title
    font-size 16px
    color #fff
    font-weight normal
@keyframes placeHolderShimmer
  0%
    background-position -468px 0
  100%
    background-position 468px 0
.animated-background
  animation-duration 1s
  animation-fill-mode forwards
  animation-iteration-count infinite
  animation-name placeHolderShimmer
  animation-timing-function linear
  background #f8f8f8
  background linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
  background-size 800px 104px
  position relative
