.settlementDetail
  background #f9f9f9
  ul
    width 330px
    margin 0 auto
    padding 10px 6px
    background #fff
    li
      display flex
      .title_left
        flex 0 0 55%
        width 55%
        h1
          font-size 14px
          color #4a4a4a
          display inline-block
          font-weight normal
        i
          color #ffffff
          text-align center
          font-size 12px
          display inline-block
          margin 0 6px
        p
          font-size 13px
          color #4a4a4a
          display inline-block
      .title_right
        flex 0 0 45%
        width 45%
        p
          float right
          font-size 16px
          i
            float left
          span
            font-size 12px
            color #9B9B9B
            float left
            line-height 22px
            padding-left 6px
      &.uid
        line-height 28px
        p
          color #9b9b9b
      &.list
        display flex
        line-height 28px
        p
          color #9b9b9b
          flex 0 0 50%
          width 50%
        p:nth-child(1)
          text-align left
        p:nth-child(2)
          text-align right
      &.list_margin
        margin-top 22px
