.green_hands
  padding 8px 6px
  clear left
  h2
    font-size 14px
    font-weight normal
    display inline-block
    color #4a4a4a
  .new_Hand
    height 26px
    width 100%
    text-align center
    font-size 12px
    line-height 26px
    color #4A4A4A
    margin-top 10px
    box-shadow 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 #AFBAE5
    border-radius 3px
.ranking
  padding 8px 6px
  h2
    font-size 14px
    margin 8px 0px
    font-weight normal
    display inline-block
    color #4a4a4a
  .game_ranking
    width 100%
    height 80px
    border-radius 10px
    box-shadow 0 -2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.1)
    ul
      display flex
      li
        width 33.333%
        height 80px
        flex 0 0 33.333%
        .ranking_name
          text-align center
          line-height 14px
          span
            display block
            margin 8px auto 0
            position relative
            img
              width 16px
              height 14px
              position absolute
              right -3px
              top -5px
          p
            font-size 11px
            color #4a4a4a
            padding-top 3px
          b
            font-weight normal
            font-size 9px
            color #999
.coupon
  padding 4px 6px
  h2
    font-size 14px
    font-weight normal
    display inline-block
    color #4a4a4a
    float left
    line-height 32px
  .hot_img
    width 124px
    height 26px
    background-image url('../../../assets/images/home/title.png')
    display inline-block
    background-size 100% 100%
    vertical-align middle
    background-repeat no-repeat
    font-size 10px
    line-height 32px
    text-align center
    color #fff
    margin-left 10px
  ul
    li
      width 100%
      height 87px
      margin-top 11px
      background-repeat no-repeat
      background-size 100%
      .coupon_left
        .coupone_left_left
          float left
          font-size 48px
          line-height 1
          font-weight normal
        .coupone_left_right
          float left
          margin 22px 23px 14px
          span
            width 60px
            height 20px
            text-align center
            font-size 12px
            display block
            line-height 22px
          p
            font-size 18px
            color #fff
            line-height 30px
      .coupon_right
        float right
        margin 13px 26px
        p
          font-size 12px
          text-align center
        .coupon_submit
          height 24px
          border-radius 50px
          border none
          margin-top 5px
          font-size 12px
          padding 0 8px
          outline none
          line-height 26px
      &.bg_one
        background-image url('../../../assets/images/home/yh1.png')
        .coupone_left_left
          color #fce8e3
          margin-left 20px
          margin-top 18px
          text-shadow 0 2px 4px #FFB98D
        .coupone_left_right
          span
            background #efd196
            color #DDA643
        .coupon_right
          p
            color #EFD196
          .coupon_submit
            color #DDA643
            background-color #FDFBF6
            background linear-gradient(-180deg, #FDFBF6, #FBE3AD)
            box-shadow 0 0 3px #DFAB45
      &.bg_two
        background-image url('../../../assets/images/home/yh3.png')
        .coupone_left_left
          color #E8E1EE
          margin-left 20px
          margin-top 18px
          text-shadow 0 2px 4px #43117B
        .coupone_left_right
          span
            background #AF7EC1
            color #72249E
        .coupon_right
          p
            color #CFABCD
          .coupon_submit
            color #873191
            background-color #FEEAEC
            background linear-gradient(-180deg, #FEEAEC 0%, #D2A6DC 100%)
            box-shadow 0 2px 4px 0 #7E238B
      &.bg_three
        background-image url('../../../assets/images/home/yh2.png')
        .coupone_left_left
          color #DFE9EF
          margin-left 10px
          margin-top 18px
          text-shadow 0 2px 4px #1F4FA0
        .coupone_left_right
          span
            background #8E9CCF
            color #346CBA
        .coupon_right
          p
            color #BAB1D7
          .coupon_submit
            color #5E3397
            background-color #FFFFFF
            background linear-gradient(-180deg, #FFFFFF 0%, #B8A0E0 100%)
            box-shadow 0 2px 4px 0 #4A54B0
